body {
  padding-top: 70px;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h5 {
  font-weight: 700;
}

p {
  font-size: 16px;
}

.excerpt {
  font-size: 20px;
  font-weight: 300;
}